.related-search-box {
  margin-left: 2em;
  height: 20vh;
}

.related-cards {
  display: flex;
  flex-direction: row;
  width:720px;
}

.related-card {
  margin-left: 10px;
  width: 25%;
  height: 125px;
  border: solid white 1px;
  border-radius: 15px;
  position:relative;
}

.thumbnail-title {
  color: #c2c5c9;
  height: 100px;
  overflow: hidden;
  text-align: center;
  padding-top: .5em;
  padding-left: .5em;
  padding-right: .5em;
}

.thumbnail-pic{
  padding-left:10px;
  width: 150px;
  padding-top: .5em;
  cursor:pointer;
  border-radius: 10px;
  position: absolute;
}

.thumbnail-pic:hover{
  background: white;
  opacity:10%;
}
