.lowest-chat-box{
    background-color: #22262d;
    border: solid black 3px;
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 2em;
    height: 60vh;
    overflow-y: scroll;
    word-wrap: break-word;
}

.comment-box{
    background: linear-gradient(0deg, rgba(49, 49, 49, 0.628) 0%, rgba(255,255,255,0.20258525773590685) 50%);
    border: solid black 2px;
    border-radius: 5px;
    margin: 8px;
    margin-bottom: 1.5em;
    position:relative;  
}

.comment-content{
    padding-top: 1em;
}

p{    
    color: #c2c5c9;
    padding-left: 8px;
    padding-right: 8px;
    text-align: justify;
}
.reply-box{
    margin-left: 3em;
    margin-bottom:1.5em;
}

.reply-btn{
    margin-left: 12em;
    z-index:2;
    position: absolute;
    bottom: -1em;
}
.new-reply-btn{
    margin-left: 5em;
    z-index:2;
    position: absolute;
    bottom: -1em;
}

.icon-btns{
    background: none;
    border:none;
}
.icons-btns:hover{
    border:none;
}