.description-box{
    background-color: #22262d;
    border: solid black 3px;
    border-radius: 15px;
    margin-top: 1em;
    margin-left: 2em;
    height: 30vh;
    position: relative;
}

.description-text h5{
    color: #c2c5c9;
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

.description-text p{
    color: #c2c5c9;
    padding-left: 8px;
    padding-right: 8px;
    text-align: justify;
    z-index:1;
}

.description-text{
    overflow-y: scroll;
    height: 26vh;
    word-wrap:break-word;
}

.comment-btn{
    position: absolute;
    z-index:2;
    right: 3em;
    bottom: -1em;
}

.modal-field{
    height: 6em;
    width: 15em;
    margin: 1em;
}