
.modal-edit{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items:left;
    justify-content:center;
}

.modal-content-edit{
    border:solid 2 px black;
    background: linear-gradient(0deg, rgba(0,0,0,0.6283555658591562) 0%, rgba(255,255,255,0.20258525773590685) 100%);
    background-color:#0e1117;
}
.modal-content-edit p{
    color: #c2c5c9;
}

.mbtn{
    margin-bottom: 10em;
}
