#header-bar{
    background-color: rgb(35, 35, 35);
    width:100%;
    height: 6em;
    border:none;
}

.logo{
    height: 6em;
    max-width:300px;
}

.logo img{
    position: absolute;
    left: 5em;
}

#search-bar{
    margin-left: 15em;
}

.search-field{
    padding-left: 10px;
    width: 65%;
    height: 3em;
    background-color:rgb(10,10,10);
    border:none;
    border-radius: 5px;
    color: rgb(180,180,180)
}

.btns.search{
    height: 3em;
    margin-left:1em;
}