.bg{
  background-color: rgb(25, 25, 25);
}

.form-field{
  padding-left: 10px;
  background-color:rgb(50,50,50);
  border:none;
  border-radius: 5px;
  color: rgb(180,180,180)
}

.btns{
  background-color:rgb(50, 50, 50);
  border: solid 2 px black;
  border-radius: 5px;
  color: rgb(180,180,180);
}

.dcr{
  height: 100vh;
}

.evp{
  height: 100vh;
}

::-webkit-scrollbar{
  width:18px;
  background-color: rgb(50,50,50);
  border-radius: 10px;
}

::-webkit-scrollbar-track{
  box-shadow: inset 0 0 5px black;
  border-radius: 15px;
  margin-top: 5px;
}

::-webkit-scrollbar-thumb{
  background: black;
  border-radius: 5px;
}

h1, h6, h4 {
  color: rgb(200,200,200);
  padding-top: 3px;
  padding-left: 5px;
  padding-right: 5px;
}